* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: juliamono;
    font-size: 14px;
    min-height: 25px;
    margin: 0 0px;
}

window#waybar {
    background-image: linear-gradient(130deg, #a6c0fe 0%, #f68084 100%);
    opacity: 0.9;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 1px 7px;
    color: #131313;
    border-radius: 5px;
}

#workspaces button:hover {
    background: lightblue;
    color: #131313;
    border-bottom: 3px solid #ffffff;
    transition-duration: .1s;

}

#workspaces button.focused {
    background: #3f3f3f;
    color: white;
    border-bottom: 3px solid #ffffff;

}

#workspaces button.focused:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid #ffffff;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd 
#tray {
    padding: 0 14px;
    margin: 0 0px;
    color: #000000;
}

@keyframes blink {
    to {
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    color: #282828;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    border-radius: 5px 0px 0px 5px;
}

#pulseaudio.muted {
    color: red;
}
